@import url("colors.css");
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: center;
}
.nav {
  position: fixed;
  top: 2rem;
  display: flex;
  align-items: center;
  height: 50px;
}
.nav__item {
  padding: 0 1rem;
  background-color: var(--secondary-bg-color);
  height: 100%;
  align-content: center;
}
.logo {
  background-color: #fff;
  display: flex;
  align-items: center;
  div {
    padding: 0.4rem 1rem;
  }
}
.bg-img {
  height: 100%;
  width: 100%;
  background-image: url("./assets/bg-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: auto 1920 / 1280;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.bg-img__block {
  color: #fff;
  font-size: 32px;
  margin-right: 4rem;
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--ternary-color);
  font-weight: bold;
}
